@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

header {
    font-family: 'Merriweather';
    font-weight: 700;
}

body{
    background-image: url("../imágenes/f.jpg");
}

p {
    font-weight: 400;
}

.rojo{
    color:red;
}

.negro{
    color:bisque;
}

.blanco{
    color:darkturquoise;
}