img {
    border: 2pt solid white;
    border-radius: 5pt;
}

body {
    background-image: url("../imágenes/f.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}