@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

header, .fondo {
    background-color: ghostwhite;
    width: fit-content;
    border-radius: 5px;
    border: 2pt solid brown;
    padding-left: 5px;
    padding-right: 5px;
}

body{
    background-image: url("../imágenes/f.jpg");
}

p, .subtítulo {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.subtítulo {
    font-size: 16pt;
}

.centrar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.rojo{
    color:red;
}

.negro{
    color:bisque;
}

.blanco{
    color:darkturquoise;
}

.título {
    font-family: "Merriweather";
    font-size: 32pt;
    font-weight: 700;
}