/*Sección de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.título {
    font-family: "Merriweather";
    font-size:   28pt;
    font-weight: 700;
}

.subtítulo {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

/*Tipografía predeterminada*/
body {
    font-family: 'Noto Sans', sans-serif;
}

/*Fin de sección de fuentes*/

.contenedor, .botón{
    width: fit-content;
    padding: 5px;
    color: #FAFAFA;
    border-radius: 5px;
    display: block;
    background-color: #242424;
    border: 2pt solid #82a9e9;
    margin: 5px;
}


/*Para que la imagen de fondo esté centrada y no se mueva*/
body {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*Sección de botones*/
.botón {
    display: inline-block;
    width: fit-content;
    transition-duration: 0.5s;
}

/*Es para que los botones de la primera página se vean bien, esto lo deberíamos
  de borrar después
*/
body nav .botón {
    width: 10rem;
}

a.botón {
    text-decoration: none;
}

.botón:hover {
    background-color: #424850;
}
/*Fin de sección de botones*/


.centrar{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contenedor.centrar {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

img.centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centrar_todo {
    margin: auto;
    text-align: center;
}