@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

header {
    font-family: 'Merriweather';
    font-weight: 700;
    background-color: seashell;
    width: fit-content;
}

body{
    background-image: url("../imágenes/f.jpg");
}

p {
    font-weight: 400;
}

.centrar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.rojo{
    color:red;
}

.negro{
    color:bisque;
}

.blanco{
    color:darkturquoise;
}
